@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body {
    font-family: 'PT Serif', serif;
}

.container {
    padding-left: 10rem;
    padding-right: 10rem;
}

.fluid-container {
    max-width: 1000px;
    /* margin:auto; */
}